= provide(:title, "リライア - 1行小説リレーサイト")

section.bg-top
  .top-container
    .top-header
      // headerロゴ
      .top-header-logo
        h1 = link_to "リライア", root_path
      // headerリスト
      .top-header-list
        ul
          - if user_signed_in?
            li = link_to "マイページ", user_path(current_user)
            li = link_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: 'ログアウトしますか?' }
          - else
            li = link_to "サインイン", new_user_session_path
    // 検索窓
    .search
      form
        input type="search" placeholder="タイトル名、ジャンルで検索"
        input value="検索" type="submit"

section.top-container
  - unless user_signed_in?
    // LP遷移ボタン
    .top-newuser-action
      p = link_to "はじめてご利用の方へ", lp_path
  // Newsエリア
  .top-article-wrapper
    .top-article-title
      h2 News
      p お知らせ
    .top-article-contents
      ul
        - @articles.each do |article|
          li = link_to article do
            p.date = article.created_at.strftime("%Y/%m/%d")
            p class="label #{article.news_type}" = t(article.news_type)
            p.title = article.title
  // おすすめ作品
  .top-ranking-wrapper
    .top-ranking-top
      .top-ranking-title
        h2 おすすめ作品
      .top-ranking-more-link
        p = link_to ">もっとみる", recommend_posts_path
    .top-ranking.over-flow
      - @ranking_posts.each do |post|
        .ranking-content
          .top-post-img
            = link_to image_tag("no_image_book.jpg"), post
          / リレーの状態
          - unless post.closed
            i.fas.fa-book-open.fa-lg
          - else
            i.fas.fa-window-close.fa-lg
          h3.top-post-title = post.title.truncate(27)
          p.top-post-link = link_to "詳細をみる", post
  // 新着作品
  .top-new-arrival-wrapper
    .top-new-arrival-top
      .top-new-arrival-title
        h2 新着作品
      .top-new-arrival-more-link
        p = link_to ">もっとみる", new_arrival_posts_path
    .top-new-arrival.over-flow
      - @new_arrival_posts.each do |post|
        .new-arrival-content
          .top-post-img
            = link_to post do
              - if post.image.present?
                = image_tag(post.image.url)
              - else
                = image_tag("no_image_book.jpg")
          / リレーの状態
          - unless post.closed
            i.fas.fa-book-open.fa-lg
          - else
            i.fas.fa-window-close.fa-lg
          h3.top-post-title = post.title.truncate(27)
          / p.top-post-story = post.story
          p.top-post-link = link_to "詳細をみる", post

css:
  /* icon */
  .fas {
    padding: 2% 0;
  }

  .top-container {
    margin-left: 8%;
    margin-right: 8%;
  }

  .top-header {
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
  }

  .top-header-logo h1 a {
    font-size: 1.75rem;
    font-family: "Sawarabi Mincho";
    color: #fff;
  }

  .top-header-list ul {
    display: flex;
    padding-top: 8%;
  }

  .top-header-list ul li a{
    font-weight: bold;
    font-size: 0.92rem;
    margin-left: 20px;
    color: #fff;
  }

  .top-header-list ul li a:hover {
    color: #0a9dd1;
    transition: 0.3s;
  }

  .search {
    margin-top: 8%;
  }

  .search .post-index-action-msg {
    font-weight: normal;
    margin-bottom: .6%;
    margin-left: 16%;
    color: #666;
  }

  .search form {
    text-align: center;
  }

  .top-newuser-action {
    background-color: rgb(200, 243, 202);
    margin: 4% 14%;
    text-align: center;
  }

  .top-newuser-action p a {
    display: block;
    padding: 6% 0;
    font-size: 1.25rem;
  }

  .top-article-wrapper {
    margin: 3% 15%;
    display: flex;
  }

  .top-article-title h2 {
    font-size: 2.25rem;
  }

  .top-article-title p {
    font-size: 1.125rem;
    color: #666;
  }

  .top-article-contents ul {
    margin-top: 3%;
    margin-left: 80px;
    padding-right: 20%;
    width: 100%;
  }

  .top-article-contents ul li a {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 2.5%;
  }

  .top-article-contents ul li a p {
    margin-left: 22px;
    font-size: 1.05rem;
  }

  .top-article-contents ul li a .date {
    color: #333;
  }

  .top-article-contents ul li a .label {
    font-size: 0.79rem;
    margin-top: 2px;
    color: rgb(249, 249, 249);
  }

  .top-article-contents ul li a .update {
    background-color: #A16EFF;
    border-radius: 7px;
    padding: 2px 4px;
  }

  .top-article-contents ul li a .notice {
    background-color: #FF773E;
    border-radius: 7px;
    padding: 2px 16px;
  }

  .top-article-contents ul li a .other {
    background-color: #5D99FF;
    border-radius: 7px;
    padding: 2px 22px;
  }

  .top-article-contents ul li a .title {
    margin-top: 0.8px;
  }

  .top-ranking-top {
    display: flex;
    justify-content: space-between;
    margin-top: 7%;
    margin-bottom: 1.3%;
  }

  .top-ranking-title {
    margin-bottom: 1%;
  }

  .top-ranking-title h2 {
    font-size: 1.5rem;
    color: #555;
  }

  .top-ranking-more-link {
    margin: 1% 0;
    margin-right: 3%;
  }

  .top-ranking-more-link p a {
    font-size: 1.1rem;
    color: #777;
    transition: .3s;
  }

  .top-ranking-more-link p a:hover {
    color: #0a9dd1;
    transition: .3s;
  }

  .top-ranking {
    margin-bottom: 2%;
    display: flex;
  }

  .ranking-content {
    margin: 0 1%;
  }

  .top-post-img {
    background-color: #9ccaf8;
    width: 250px;
    height: 352px;
  }

  .top-post-img img {
    width: 250px;
    height: 352px;
    transition: 0.5s;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .3);
  }

  .top-post-img img:hover {
    filter: brightness(89%);
    transition: 0.5s;
  }

  .top-post-title {
    margin-top: 3%;
    font-size: 1.05rem;
    color: #555;
  }

  .top-post-link a {
    margin-top: .7%;
    font-size: .95rem;
    color: #777;
  }

  .top-post-link a:hover {
    color: #0a9dd1;
    transition: 0.3s;
  }

  .top-new-arrival-top {
    display: flex;
    justify-content: space-between;
    margin-top: 12%;
    margin-bottom: 1.3%;
  }

  .top-new-arrival-title h2 {
    font-size: 1.5rem;
    color: #555;
  }

  .top-new-arrival-more-link {
    margin: 1% 0;
    margin-right: 3%;
  }

  .top-new-arrival-more-link p a {
    font-size: 1.1rem;
    color: #777;
    transition: .3s;
  }

  .top-new-arrival-more-link p a:hover {
    color: #0a9dd1;
    transition: .3s;
  }

  .new-arrival {
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .top-new-arrival {
    margin-bottom: 2%;
    display: flex;
  }

  .new-arrival-content {
    margin: 0 1%;
  }

  @media screen and (max-width: 480px) {
    .top-newuser-action {
      margin: 12% 4%;
    }
    
    .top-newuser-action p a {
      padding: 8% 0;
    }

    .top-article-wrapper {
      margin: 12% 3%;
      display: block;
    }

    .top-article-title {
      text-align: center;
    }
    
    .top-article-title h2 {
      font-size: 1.9rem;
    }
    
    .top-article-title p {
      font-size: 1rem;
    }
    
    .top-article-contents ul {
      margin-top: 10%;
      margin-left: 0px;
      padding-right: 0%;
    }
    
    .top-article-contents ul li a {
      margin-top: 6%;
    }
    
    .top-article-contents ul li a p {
      margin-left: 12px;
      font-size: 0.96rem;
    }

    .top-article-contents ul li a .label {
      font-size: 0.77rem;
    }

    .top-article-contents ul li a .title {
      font-size: 0.87rem;
      margin-top: 2%;
      border-bottom: #ddd solid 1px;
      width: 100%;
    }

    .top-ranking-title {
      margin-top: 29%;
      margin-bottom: 4%;
    }
    
    .top-ranking-title h2 {
      font-size: 1.6rem;
      text-align: center;
    }

    .top-ranking-more-link {
      margin-top: 30%;
    }

    .top-ranking {
      margin-left: 7%;
    }
    
    .ranking-content {
      margin: 0 5%;
    }

    .ranking-content:last-child {
      padding-right: 16%;
    }

    .top-new-arrival-title {
      margin-top: 44%;
      margin-bottom: 4%;
    }
    
    .top-new-arrival-title h2 {
      font-size: 1.6rem;
      text-align: center;
    }

    .top-new-arrival-more-link {
      margin-top: 46%;
    }

    .top-new-arrival {
      margin-left: 7%;
    }
    
    .new-arrival-content {
      margin: 0 5%;
    }

    .new-arrival-content:last-child {
      padding-right: 16%;
    }
  }
