/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require_directory .
 */

@import "font-awesome";

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body {
  font-family: "Sawarabi Gothic";
}

nav, ul, li {
  list-style:none;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #0a9dd1;
  transition: 0.3s;
}

.container {
  margin-bottom: 100px;
}

/* コンテンツ横幅隠し */
.over-flow {
  overflow-y: scroll;
  width: 100%;
  padding-bottom: 3%;
}


// DEVISE

// DEVISE COMMON

.field label {
  font-weight: bold;
}

.devise-common-message a {
  color: #fff;
  transition: 0.3s;
}

.devise-common-message a:hover {
  color: #0a9dd1;
  transition: 0.3s;
}




// LOGIN
.login-form {
  text-align: center;
  margin: 0 auto;
  background-image: url(books.jpg);
  color: #fff;
  padding-top: 6%;
  padding-bottom: 23%;
}

.login-title {
  font-size: 1.75rem;
  padding: 2% 0;
}

.login-form .field {
  padding: 1% 0;
}

.login-form .actions {
  padding: 1% 0;
}

.login-form input[type="submit"] {
  cursor: pointer;
  margin-left: 5%;
}







// SIGNUP

.signup-form {
  text-align: center;
  margin: 0 auto;
  background-image: url(books.jpg);
  color: #fff;
  padding-top: 6%;
  padding-bottom: 23%;
}

.signup-title {
  font-size: 1.75rem;
  padding: 2% 0;
}

.signup-form .field {
  padding: 1% 0;
}

.signup-form .actions {
  padding: 1% 0;
}

.signup-form input[type="submit"] {
  cursor: pointer;
  margin-left: 5%;
}



// PROFILE EDIT

.profile-edit-wrapper {
  text-align: center;
}

.profile-field-wrapper {
  margin-top: 2%;
  text-align: center;
}

.profile-field-wrapper .field {
  margin-top: 0.6%;
}










// HEADER

header {
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 2%;
}

.header-logo h1 {
  font-size: 1.75rem;
}

.header-list ul {
  display: flex;
  margin-top: 8%;
}

.header-list ul li a{
  font-weight: bold;
  font-size: 0.92rem;
  margin-left: 20px;
}







// FOOTER

footer {
  margin-bottom: 2.2%;
  margin-left: 8%;
  margin-right: 8%;
}

.footer .footer-copo-name {
  border-bottom: solid 2px #ddd;
}

.footer .footer-copo-name h3 {
  font-size: 1.125rem;
  padding-bottom: .5%;
}

.footer-list {
  margin-top: 1%;
}

.footer-list ul {
  display: flex;
  justify-content: space-between;
}

.footer-list ul li .footer-ap-name {
  font-weight: bold;
  font-size: 1.125rem;
}

.footer-list ul li .copylight {
  padding-top: 1%;
  color: #777;
}



















// POST INDEX(ROOT PATH)

// TOP

.bg-top {
  background-image: url(books.jpg);
  opacity: .9;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 490px;
}

.top-container {
  margin-left: 8%;
  margin-right: 8%;
}

.top-header {
  display: flex;
  justify-content: space-between;
  padding-top: 1%;
}

.top-header-logo h1 a {
  font-size: 1.75rem;
  color: #fff;
}

.top-header-list ul {
  display: flex;
  padding-top: 8%;
}

.top-header-list ul li a{
  font-weight: bold;
  font-size: 0.92rem;
  margin-left: 20px;
  color: #fff;
}

.top-header-list ul li a:hover {
  color: #0a9dd1;
  transition: 0.3s;
}

.search {
  margin-top: 8%;
}

.search .post-index-action-msg {
  font-weight: normal;
  margin-bottom: .6%;
  margin-left: 16%;
  color: #666;
}

.search form {
  text-align: center;
}

// 検索窓のデザイン
.search input[type="search"] {
  font-size: 1.125rem;
  height: 37px;
  width: 65%;
  border: none;
  background:rgb(251, 251, 251);
}

// 検索ボタンのデザイン
.search input[type="submit"] {
  cursor: pointer;
  font-size: 1.125rem;
  height: 37px;
  width: 77px;
  background:#69b3fd;
  color: #fff;
  border-radius:0 2px 2px 0;
  border: none;
}






.top-newuser-action {
  background-color: rgb(200, 243, 202);
  margin: 4% 14%;
  text-align: center;
}

.top-newuser-action p a {
  display: block;
  padding: 6% 0;
  font-size: 1.25rem;
}







.top-ranking-title {
  margin-top: 7%;
  margin-bottom: 1%;
}

.top-ranking-title h2 {
  font-size: 1.5rem;
  color: #555;
}

.top-ranking {
  margin-bottom: 2%;
  display: flex;
}

.ranking-content {
  margin: 0 1%;
}






// RANKIGN NEW-ARRIVAL COMMON


.top-post-img {
  background-color: #9ccaf8;
  width: 250px;
  height: 352px;
}

.top-post-img img {
  width: 250px;
  height: 352px;
  transition: 0.5s;
  box-shadow: 0 5px 12px 0 rgba(0, 0, 0, .3);
}

.top-post-img img:hover {
  filter: brightness(89%);
  transition: 0.5s;
}

.top-post-title {
  margin-top: 3%;
  font-size: 1.05rem;
  color: #555;
}

.top-post-link a {
  margin-top: .7%;
  font-size: .95rem;
  color: #777;
}

.top-post-link a:hover {
  color: #0a9dd1;
  transition: 0.3s;
}








.top-new-arrival-title {
  margin-top: 12%;
  margin-bottom: 1%;
}

.top-new-arrival-title h2 {
  font-size: 1.5rem;
  color: #555;
}

.new-arrival {
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-new-arrival {
  margin-bottom: 2%;
  display: flex;
}

.new-arrival-content {
  margin: 0 1%;
}




// POST INDEX RESPONSIVE


@media screen and (max-width: 480px) {

  .bg-top {
    height: 388px;
  }

  .top-container .search {
    margin-top: 18%;
  }

  .search input[type="search"] {
    font-size: 0.9rem;
    width: 70%;
  }

  .search input[type="submit"] {
    font-size: 0.9rem;
  }


  .top-newuser-action {
    margin: 12% 4%;
  }
  
  .top-newuser-action p a {
    padding: 8% 0;
  }


  .top-ranking-title {
    margin-top: 29%;
    margin-bottom: 4%;
  }
  
  .top-ranking-title h2 {
    font-size: 1.6rem;
    text-align: center;
  }

  .top-ranking {
    margin-left: 7%;
  }
  
  
  .ranking-content {
    margin: 0 5%;
  }

  .ranking-content:last-child {
    padding-right: 16%;
  }


  .top-new-arrival-title {
    margin-top: 44%;
    margin-bottom: 4%;
  }
  
  .top-new-arrival-title h2 {
    font-size: 1.6rem;
    text-align: center;
  }

  .top-new-arrival {
    margin-left: 7%;
  }
  
  
  .new-arrival-content {
    margin: 0 5%;
  }

  .new-arrival-content:last-child {
    padding-right: 16%;
  }
  
}






























// POST SHOW

.post-show-top {
  background-color: rgb(244, 244, 244);
  padding-top: 1.3%;
  padding-bottom: 13%;
  display: flex;
}

.post-main-contents {
  margin-left: 15%;
  padding-left: 18%;
  padding-right: 4%;
  background-color: #fff;
}

.post-show-title {
  width: 320px;
  text-align: center;
  padding-top: 7%;
  padding-bottom: 4%;
  font-size: 1.65rem;
}

.post-show-image img {
  width: 320px;
  height: 436px;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .5);
}

.post-add-status ul {
  margin-left: 41%;
  display: flex;
}

.post-add-status ul li {
  margin-left: 6%;
}

.post-add-status ul li a {
  font-size: 1.4rem;
  color: #777;
}

.post-add-status ul li a:hover {
  color: #0a9dd1;
}

.post-desc {
  margin-top: 4%;
  margin-bottom: 2.5%;
}

.post-desc h3 {
  font-size: 1.125rem;
  color: #333;
}

.post-desc p {
  margin-top: 2%;
  width: 320px;
  font-size: 0.9rem;
  line-height: 22px;
  color: #555;
}

.post-reaction ul {
  display: flex;
  margin-bottom: 5%;
}

.post-reaction ul li {
  margin-right: 5%;
  color: #ccc;
}

.post-reaction ul li i {
  margin-right: 4px;
}

.post-reading-button {
  margin-top: 12%;
  margin-bottom: 12%;
  margin-left: 9.7%;
}

.post-reading-button p a {
  background-color: #69b3fd;
  padding: 19px 29px;
  border-radius: 5px;
  color: #fff;
  font-size: 1.125rem;
  transition: .3s;
}

.post-reading-button p a:hover {
  opacity: .8;
  transition: .3s;
}

.post-add-contents {
  margin-left: -20%;
  padding-left: -18%;
  padding-right: -18%;
  margin-bottom: 11%;
  display: flex;
  height: auto;
}

// POST LOG 

.post-log {
  width: 255px;
  height: 300px;
  overflow-y: scroll;
  margin: 5px; 
  padding: 10px;
  border: 2px solid #999;
}

.post-log h3 {
  font-size: 1.1rem;
  text-align: center;
  color: #444;
}

.post-log .post-log-contents {
  margin-top: 4%;
}

.post-log-main-content {
  display: flex;
}

.post-log-user-img img {
  width: 44px;
  height: 44px;
  transition: .3s;
}

.post-log-user-img img:hover {
  opacity: .8;
  transition: .3s;
}

.post-log-content {
  margin-left: 3%;
}

.post-log-content p a {
  font-size: 0.88rem;
  color: #555;
  transition: .3s;
}

.post-log-content p.micro {
  margin-top: 1%;
  font-size: 0.8rem;
  color: #222;
}

.post-log-content p a:hover {
  color: #0a9dd1;
  transition: .3s;
}

.post-log .post-log-info {
  margin-left: 18%;
  margin-top: 1%;
  display: flex;
  margin-bottom: 7%;
}

.post-log .post-log-info p {
  font-size: 0.75rem;
  color: #888;
}

.post-log .post-log-info p a {
  color: #888;
  transition: .3s;
}

.post-log .post-log-info p a:hover {
  color: #0a9dd1;
  transition: .3s;
}









.post-add {
  margin-left: 3%;
  width: 255px;
  height: 300px;
  overflow-y: scroll;
  margin: 5px; 
  padding: 10px;
  border: 2px solid #888;
}

.micropost-form h3 {
  font-size: 1.1rem;
  text-align: center;
  color: #444;
}

.novel-form {
  margin-top: 4%;
}

.novel-form p {
  margin-bottom: 1%;
  font-size: .85rem;
}

.novel-form input[type="text"] {
  width: 242px;
  height: 25px;
  font-size: .75rem;
}

.post-order {
  margin-top: 5%;
  margin-bottom: 2%;
}

.post-order p {
  font-size: .85rem;
  margin-top: 2%;
  color: #333;
}

.post-order .column {
  font-size: .9rem;
}





.post-sub-contents {
  margin-left: 2%;
}

.post-sub-contents .post-sub-title h3 {
  font-size: 0.99rem;
  color: #999;
  font-weight: normal;
}

.post-sub-contents .post-sub-user-name ul {
  margin-top: 3%;
  display: flex;
}

.post-sub-contents .post-sub-user-name ul .image img {
  width: 62px;
  height: 62px;
}

.post-sub-contents .post-sub-user-name ul .name {
  margin-left: 6%;
  font-size: 1rem;
  color:#777;
}

.post-sub-user-name p {
  font-size: 0.92rem;
  color: #444;
}


// POST NEW

.post-field-wrapper {
  text-align: center;
}

.post-field-wrapper h2 {
  font-size: 1.25rem;
  color: #444;
}

.post-fields {
  margin-top: 2%;
}

.post-field-wrapper .field {
  margin-top: 0.6%;
}







// NOVELS 

.novel-show-container {
  margin: 0 18%;
}

.novel-show-title h2 {
  font-size: 1.5rem;
  text-align: center;
}

.novel-back {
  color: #999;
}











// USER

// SHOW

.user-profiles {
  margin-left: 8%;
  margin-right: 8%;
}

.user-profile-wrapper img {
  width: 88px;
  height: 88px;
}

.user-profile-main {
  display: flex;
}

.user-profile-main .name-wrapper {
  margin-left: 1.4%;
  margin-top: 2.8%;
}

.user-profile-main .name-wrapper .name {
  font-weight: bold;
  color: #333;
  font-size: 1.17rem;
}

.user-profile-main .name-wrapper .id {
  color: #777;
  font-size: 0.87rem;
}

.user-profile-main .follow-wrapper {
  margin-left: auto;
  margin-top: 5%;
  padding-right: 7%;
}

.user-profile-main .follow-wrapper a {
  padding: 12px 24px;
  border-radius: 5px;
  color: #fff;
  transition: .3s;
}

.user-profile-main .follow-wrapper a.edit-profile {
  background-color: #66cc66;
}

.user-profile-main .follow-wrapper a.follow {
  background-color: #33ccff;
}

.user-profile-main .follow-wrapper a:hover {
  transition: .3s;
  opacity: .8;
}


.profile-sub {
  margin-left: 7%;
  font-size: 0.82rem;
}

.profile-sub .profile {
  margin-top: 0.8%;
  color: #555;
}

.profile-sub .follow-follower {
  margin-top: 0.6%;
}

.profile-sub .follow-follower a {
  color: #222;
  margin-right: 1%;
  transition: .3s;
}

.profile-sub .follow-follower a:hover {
  color: #0a9dd1;
  transition: .3s;
}

.user-novels-wrapper {
  margin-top: 4%;
}

.user-novels-wrapper img {
  width: 250px;
  height: 352px;
  transition: 0.5s;
  box-shadow: 0 5px 12px 0 rgba(0, 0, 0, .3);
}

.user-novels-wrapper img:hover {
  filter: brightness(89%);
  transition: 0.5s;
}

.novels-title {
  margin-top: 2%;
}

.novels-title h2 {
  font-size: 1.125rem;
  color: #555;
}

.user-novels-requests {
  display: flex;
  margin-top: 2.2%;
}

.user-novels-requests a {
  margin-left: 1.4%;
  color: #555;
}

.user-novels-writing {
  margin-top: 2.2%;
  display: flex;
}

.user-novels-writing a {
  margin-left: 1.4%;
  color: #555;
}
