/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require_directory .
 */

@import "font-awesome";

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body {
  font-family: "Sawarabi Gothic";
}

nav, ul, li {
  list-style:none;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #0a9dd1;
  transition: 0.3s;
}

.container {
  margin-bottom: 100px;
}

/* コンテンツ横幅隠し */
.over-flow {
  overflow-y: scroll;
  width: 100%;
  padding-bottom: 3%;
}

// DEVISE COMMON
.field label {
  font-weight: bold;
}

.devise-field label {
  color: rgb(244, 243, 243);
  font-size: 1.08rem
}

// field共通

.fields {
  text-align: center;
}

.field {
  margin-top: 1%;
}

.field input[type="text"],
.field input[type="email"],
.field input[type="password"] {
  margin-top: 0.7%;
  width: 50%;
  height: 26px;
  font-size: 1.03rem;
}

.field textarea {
  width: 50%;
  height: 208px;
  font-size: 1.03rem;
}

.fields .submit {
  margin-top: 2%;
  margin-left: 46%;
}

.fields .submit input[type="submit"] {
  font-size: 1.1rem;
  padding: 6px 23px;
  background: #69b3fd;
  color: #fff;
  border: 2px solid #fff;
  transition: .3s;
}

.fields .submit input[type="submit"]:hover {
  transition: .3s;
  background: #8dc2f6;
}

.devise-common-message a {
  color: #fff;
  transition: 0.3s;
}

.devise-common-message a:hover {
  color: #0a9dd1;
  transition: 0.3s;
}

// LOGIN
.login-form {
  text-align: center;
  margin: 0 auto;
  background-image: url(books.jpg);
  color: #fff;
  padding-top: 6%;
  padding-bottom: 23%;
}

.login-title {
  font-size: 1.75rem;
  padding: 2% 0;
}

.login-form .field {
  padding: 1% 0;
}

.login-form .actions {
  padding: 1% 0;
}

.login-form input[type="submit"] {
  cursor: pointer;
  margin-left: 5%;
}

// SIGNUP
.signup-form {
  text-align: center;
  margin: 0 auto;
  background-image: url(books.jpg);
  color: #fff;
  padding-top: 6%;
  padding-bottom: 23%;
}

.signup-title {
  font-size: 1.75rem;
  padding: 2% 0;
}

.signup-form .field {
  padding: 1% 0;
}

.signup-form .actions {
  padding: 1% 0;
}

.signup-form input[type="submit"] {
  cursor: pointer;
  margin-left: 5%;
}

// PROFILE EDIT
.profile-edit-wrapper {
  text-align: center;
}

.profile-field-wrapper {
  margin-top: 2%;
  text-align: center;
}

.profile-field-wrapper .field {
  margin-top: 0.6%;
}

// PASSWORD WASURE
.forget-password-title {
  text-align: center;
}

.forget-password-desc {
  text-align: center;
}

.forget-password-form {
  text-align: center;
  margin: 0 auto;
  background-image: url(books.jpg);
  color: #fff;
  padding-top: 6%;
  padding-bottom: 23%;
}

// HOME TOP(ROOT PATH)
.bg-top {
  background-image: url(books.jpg);
  opacity: .9;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 490px;
}

// 検索窓のデザイン
.search input[type="search"] {
  font-size: 1.125rem;
  height: 37px;
  width: 65%;
  border: none;
  background:rgb(251, 251, 251);
}

// 検索ボタンのデザイン
.search input[type="submit"] {
  cursor: pointer;
  font-size: 1.125rem;
  height: 37px;
  width: 77px;
  background:#69b3fd;
  color: #fff;
  border-radius:0 2px 2px 0;
  border: none;
}


// LP PAGE

.bg-lp {
  background-image: url(lp-top.jpg);
  opacity: .8;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
}

/* icon */
.fas {
  padding: 2% 0;
}

.fa-book-open {
  color: #009900;
}

.fa-window-close {
  color: #cc3333;
}


@media screen and (max-width: 480px) {
  .bg-top {
    height: 388px;
  }

  .top-container .search {
    margin-top: 18%;
  }

  .search input[type="search"] {
    font-size: 0.9rem;
    width: 70%;
  }

  .search input[type="submit"] {
    font-size: 0.9rem;
  }
}
