footer
  .footer
    .footer-copo-name
      h3 Ralumina
    .footer-list
      ul
        li 
          p.footer-ap-name リライア
        li
          p.copylight &copy; 2021 Ralumina All Rights Reserved. 

css:
  footer {
    margin-bottom: 2.2%;
    margin-left: 8%;
    margin-right: 8%;
  }

  .footer .footer-copo-name {
    border-bottom: solid 2px #ddd;
  }

  .footer .footer-copo-name h3 {
    font-size: 1.125rem;
    padding-bottom: .5%;
  }

  .footer-list {
    margin-top: 1%;
  }

  .footer-list ul {
    display: flex;
    justify-content: space-between;
  }

  .footer-list ul li .footer-ap-name {
    font-family: "Sawarabi Mincho";
    font-weight: bold;
    font-size: 1.125rem;
  }

  .footer-list ul li .copylight {
    padding-top: 1%;
    color: #777;
  }

  @media screen and (max-width: 480px) {
    footer {
      margin-bottom: 5%;
    }

    .footer-list ul li .copylight {
      padding-top: 3.6%;
      font-size: 0.8rem;
    }
  }
