header
  .header-logo
    h1 = link_to image_tag("relier_logo.JPG"), root_path
  .pc-header-list
    ul
      - if user_signed_in?
        li = link_to "マイページ", user_path(current_user)
        li = link_to "設定", config_path
        li = link_to "ヘルプ", help_path
        / TODO: ver1.4リリースのタイミングで消す
        li = link_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: 'ログアウトしますか?' }
      - else
        li = link_to "サインイン", new_user_session_path
        li = link_to "はじめての方へ", lp_path
        li = link_to "ヘルプ", help_path
  .sp-header-list
    = image_tag 'bars.png', width: '44px', height: '44px'

css:
  header {
  display: flex;
    justify-content: space-between;
    margin-top: 1%;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 1.3%;
  }

  .header-logo h1 a img {
    margin-top: 1.5%;
    width: 135px;
    height: 60px;
  }

  .header-logo h1 a img:hover {
    opacity: .7;
  }

  .pc-header-list ul {
    display: flex;
    margin-top: 4.5%;
  }

  .pc-header-list ul li a{
    font-weight: bold;
    font-size: 0.97rem;
    margin-left: 26px;
  }

  .sp-header-list {
    display: none;
    opacity: .8;
  }

  @media screen and (max-width: 480px) {

    header {
      margin-top: 2.5%;
      margin-left: 5%;
      margin-right: 5%;
    }

    .pc-header-list {
      display: none;
    }

    .sp-header-list {
      display: block;
    }
  }
